.business__title {
  color: $primary;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

.business__hero {
  position: relative;
}

.business__hero__bg {
  width: 100%;
  height: auto;
}

.business__hero__logo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 160px;
  height: 160px;
}

.business__hero__description {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: $primary;
  font-size: 25px;
  text-align: right;
}

.business__hero__dates {
  font-size: 1.7em;
  margin-bottom: 10px;
}

.business__pricelist {
  margin-top: 10px;
  display: table;
  border-spacing: 10px 0;
  width: 100%;
}

.business__pricelist__row {
  display: table-row;
}

.business__pricelist__cell {
  display: table-cell;
  background: $primary;
  padding: 10px;
  color: white;
  text-align: center;
  vertical-align: top;

  &.top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 20px;
  }

  &.middle {
    font-weight: 300;
  }

  &.bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 20px;
    font-weight: 300;
  }

  .feature {
    margin: .5em 0;
  }

  .title {
    font-size: 25px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding: 5px 10px;
    }

    td:first-child {
      text-align: right;
      width: 50%;
    }

    td:last-child {
      text-align: left;
    }
  }

  .current {
    background: white;
    font-weight: 400;
    color: $primary;
  }

  .past {
    opacity: .5;
  }
}

@media (max-width: 1200px) {
  .business__pricelist__wrapper {
    margin: 0 !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .business__pricelist {
    width: 1200px;
  }
}

@media (max-width: $bp-tablet) {
  .business__hero__bg {
    display: none;
  }

  .business__hero__logo {
    display: block;
    margin: 20px auto;
    position: static;
    left: auto;
    top: auto;
    width: 100px;
    height: 100px;
  }

  .business__hero__description {
    position: static;
    right: auto;
    bottom: auto;
    text-align: center;
    margin-bottom: 20px;
  }
}