.venue {
  background: #F2F2F2;

  a {
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin: .3em 0;
    padding-left: 1.7em;

    span {
      border-bottom: 1px solid rgba(0, 0, 0, .3);
    }

    &:hover,
    &:active{
      color: black;

      span {
        border-bottom-color: black;
      }
    }

    img {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: - .6em;
      width: 1.2em;
      height: 1.2em;
    }
  }
}

.venue__table {
  display: table;
}

.venue__map {
  display: table-cell;
  width: 500px;
  background: url('http://static.maps.2gis.com/1.0?zoom=14&size=500,350&markers=30.214851,59.939020') no-repeat center center;
}

.venue__description {
  display: table-cell;
  padding: 2em 0 2em 2em;
}

.venue__address {
  font-size: 1.5em;
}

.brands {
  padding: 0 0 2em;
  text-align: center;

  h3 {
    font-size: 1em;
    font-weight: 700;
    padding: 0;
    margin: 2em 0 1em;
  }

  img {
    height: 50px;
    width: auto;
    margin: .3em;
  }
}

.brand {
  width: 25%;
  float: left;
}



@media (max-width: $bp-tablet) {
  .brand {
    width: 50%;
  }
}


@media (max-width: $bp-small) {
  .venue__table,
  .venue__map,
  .venue__description {
    width: auto;
    display: block;
    padding: 0;
    text-align: center;
  }

  .venue__map {
    padding-top: 50%;
    background: url('http://static.maps.2gis.com/1.0?zoom=14&size=600,350&markers=30.214851,59.939020') no-repeat center center;
  }
}

@media (max-width: $bp-phone) {
  .brands {

    h3 {
      margin-top: 3em;
    }

    img {
      height: auto;
      max-width: 200px;
      display: block;
      margin: 1em auto;
    }
  }

  .brand {
    float: none;
    width: auto;
  }

  .venue__map {
    background: url('http://static.maps.2gis.com/1.0?zoom=15&size=560,350&markers=30.214851,59.939020') no-repeat center center;
  }

}